body {
  background-image: url("assets/grey-background2.jpg");
}

.callout {
  background-color: #7395ae;
  color: whitesmoke;
}

/* Color Scheme - blues & greys
background-color: #938E94;
background-color: #5D5C61;
background-color: #7395ae;
background-color: #557A95;
background-color: #b1A296; 
*/
