.callout {
  background-color: #5d5c61;
  color: whitesmoke;
}

/* Color Scheme - blues & greys
background-color: #938E94;
background-color: #5D5C61;
background-color: #7395ae;
background-color: #557A95;
background-color: #b1A296; 
*/
