body {
  background-image: url("assets/grey-background2.jpg");
}

.callout {
  background-color: #7395ae;
  color: whitesmoke;
}

.rounded {
  border-radius: 25px;
}

/* Enter Page*/
.container {
  margin-top: 20px;
  padding: 200px;
}

.welcome {
  font-family: "Cedarville Cursive", cursive;
  font-size: xx-large;
  font-weight: bold;
  text-align: center;
}

.button {
  display: block;
  max-width: 300px;
}

/*Search Page*/
h3 {
  text-align: center;
}

button {
  align-items: center;
}
.translucent-form-overlay {
  width: 985px;
  background-color: rgba(54, 54, 54, 0.8);
  padding: 20px;
  color: #fefefe;
  display: inline-block;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
}

.translucent-form-overlay .columns.row {
  display: block;
}

.translucent-form-overlay h3,
.translucent-form-overlay label {
  color: #fefefe;
}

.translucent-form-overlay input,
.translucent-form-overlay select {
  color: #8a8a8a;
}

.translucent-form-overlay input::-webkit-input-placeholder {
  color: #8a8a8a;
}

.translucent-form-overlay input:-ms-input-placeholder {
  color: #8a8a8a;
}

.translucent-form-overlay input::placeholder {
  color: #8a8a8a;
}

/* Color Scheme - blues & greys
background-color: #938E94;
background-color: #5D5C61;
background-color: #7395ae;
background-color: #557A95;
background-color: #b1A296; 
*/
