body {
  background-image: url("grey-background.jpg");
}

h1,
h2 {
  font-family: "Abel", sans-serif;
}

.callout {
  background-color: #022140;
  color: whitesmoke;
  margin: 0rem;
}

.rounded {
  border-radius: 10px;
}

.welcome {
  font-family: "Homemade Apple", cursive;
  font-size: 40px;
  text-align: center;
  margin-top: 40px;
}

.motto {
  font-family: "Abel", sans-serif;
  font-size: 40px;
  text-align: center;
}

.boxShadow {
  box-shadow: 10px 10px 5px grey;
}

.button {
  font-family: "Abel", sans-serif;
  box-shadow: 10px 10px 5px grey;
  background-color: #022140 !important;
}

.card-btn {
  margin-bottom: 0 !important;
  margin-right: 1rem;
  margin-left: 1rem;
  background-color: #022140 !important;
}

.menu {
  font-family: "Abel", sans-serif;
}

.menu-text {
  font-size: x-large;
}

.grid-container {
  width: 50vw;
}

.translucent-form-overlay {
  background-color: rgba(54, 54, 54, 0.8);
  color: #fefefe;
  box-shadow: 10px 10px 5px grey;
  margin-top: 2rem;
}

.translucent-form-overlay h3,
.translucent-form-overlay label {
  color: #fefefe;
  font-family: "Abel", sans-serif;
}

.translucent-form-overlay input,
.translucent-form-overlay select {
  color: #8a8a8a;
}

.translucent-form-overlay input::-webkit-input-placeholder {
  color: #8a8a8a;
}

.translucent-form-overlay input:-ms-input-placeholder {
  color: #8a8a8a;
}

.translucent-form-overlay input::placeholder {
  color: #8a8a8a;
}

#searchBtn,
#clearBtn {
  background-color: #022140 !important;
}

#main-image {
  display: block;
  margin-right: auto;
  margin-left: auto;
  width: 50%;
}

#border-image {
  width: 100%;
  height: 20vh;
}

#aboutCard {
  margin-top: 3rem;
}

#searchReset {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

#footer {
  height: 6vh;
  position: fixed;
  bottom: 0px;
  left: 0px;
  background-color: #022140;
  color: whitesmoke;
  font-family: "Abel", sans-serif;
  width: 100%;
  text-align: center;
}

/* Color Scheme - blues & greys
background-color: #938E94; light grey
background-color: #5D5C61; dark grey
background-color: #7395ae; light slate blue
background-color: #557A95; dark slate blue
background-color: #b1A296; beige
background-color: #25274d; navy purple blue
background-color: #022140; real navy blue
*/
